.products {
  flex-grow: 5;
  width: vw(1216px);
  margin: 0 auto;
  padding-top: vh(10px);
  height: 100%;
  &__title {
    font-size: vw(24px);
    font-weight: 700;
  }
}
.cards {
  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.show-paginator {
  padding: 8px 15px;
  background: #b85dee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  &:hover {
    background: #4b34e7;
  }
  &.shown {
    margin-bottom: 0;
  }
}
